[defaults]
host_key_checking = False
retry_files_enabled = False
roles_path = roles
interpreter_python = auto_silent
stdout_callback = default
gathering = smart

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=120s -o ServerAliveInterval=15 -o ServerAliveCountMax=6 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
